td { 
    text-align: left; 
    padding: 5px;
}

.break{
    padding:15px
}

th {
    text-align: left; 
    padding: 5px;
}

.total{
    
}

.BoxScoreTable{
    margin-left:auto; 
    margin-right:auto;
}
