.tooltip {
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;

    position: absolute;			
    text-align: center;			
    font: 12px garamond;

}

.tipContainer{
  pointer-events: none;

  
}
